.carousel-indicators{
    bottom: -35px;
}

.carousel-item{
    padding: 0 2rem;
}

.carousel-control-prev{
    width: auto;
    left: -15px;
}

.carousel-control-next{
    width: auto;
    right: -15px;
}