.widget-holder {
    + .widget-holder {margin-top: $spacer;}
}

.blog-post-meta {
    .fas {margin-left: 10px;
        &:first-child {margin-left: 0;}
    }
}

.post-summary {border-bottom: 1px solid $gray-300; margin-bottom: $spacer; padding-bottom: $spacer;}
