.btn {text-transform: uppercase; min-width: 150px; font-size: 20px;  font-family: lft-etica-compressed, sans-serif; font-weight: 700; font-style: normal; text-transform: uppercase;  border-radius: 0; padding: 14px;

    &.btn-primary{background: $primary; color: $white; background-position: 0 -100%; background-repeat: repeat-x; transition: background-position 1s ease;
        &:hover, &:focus {background: $secondary;}
    }

    &.btn-secondary{

    }

    &.btn-outline {background: transparent; border: 3px solid $primary; color: $primary; background-position: 0 -100%; background-repeat: repeat-x; transition: background-position 1s ease;
        &:hover, &:focus {background: $secondary; color: $white;}
    }
}

.btn-toolbar{
    .btn-primary{ background: transparent; border: 3px solid $primary; color: $primary; background-position: 0 -100%; background-repeat: repeat-x; transition: background-position 1s ease;
        &:hover, &:focus {background: $secondary; color: $white;}
    }
}

