body {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow-x: hidden;
    > .info.warning {
        * {font-family: Helvetica, Arial, sans-serif;}
    }
}


a, button, .btn  {
    transition: 0.15s ease-in-out all;
}

.missing {color: magenta;
    * {color: magenta;}
}

// or change font if a different bold font is being pulled in, new font-family
.font-bold, .strong, b, strong, .b { font-weight: bold}


/* LINK ICONS - shows type of file
================================================== */
.typography, .fileblock, .elementfilelist span.filetype {
    a[href$=".pdf"], a[href$=".PDF"], a.pdf, a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"], a.doc, a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a.xls, a[href$=".ppt"], a[href$=".pptx"], a[href$=".PPT"], a[href$=".PPTX"], a.ppt, a[href$=".gz"], a[href$=".GZ"], a[href$=".gzip"], a[href$=".GZIP"], a[href$=".zip"], a[href$=".ZIP"], a.archive, a.zip, a.gz, a.rss, a[href$=".wav"], a[href$=".mp3"], a[href$=".WAV"], a[href$=".MP3"], a.wav, a.audio, a.mp3, a[href$=".jpg"], a[href$=".png"], a[href$=".JPG"], a[href$=".PNG"], a[href$=".tiff"], a[href$=".TIFF"], a[href$=".jpeg"], a[href$=".JPEG"], a.image, a[href$=".mp4"], a[href$=".mov"], a[href$=".MP4"], a[href$=".MOV"], a.video, .rss, a[href$=".csv"]
    {
        &:before {font-family: 'Font Awesome 6 Pro'; font-weight: 900; padding-right: 5px;}
    }

    a[href$=".pdf"], a[href$=".PDF"], a.pdf {
        &:before {content: "\f1c1";}
    }
    a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"], a.doc {
        &:before {content: "\f1c2";}
    }
    a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a.xls {
        &:before {content: "\f1c3";}
    }
    a[href$=".ppt"], a[href$=".pptx"], a[href$=".PPT"], a[href$=".PPTX"], a.ppt {
        &:before {content: "\f1c4";}
    }
    a[href$=".gz"], a[href$=".GZ"], a[href$=".gzip"], a[href$=".GZIP"], a[href$=".zip"], a[href$=".ZIP"], a.archive, a.zip, a.gz {
        &:before {content: "\f1c6";}
    }
    a[href$=".wav"], a[href$=".mp3"], a[href$=".WAV"], a[href$=".MP3"], a.wav, a.audio, a.mp3 {
        &:before {content: "\f1c7";}
    }
    a[href$=".jpg"], a[href$=".png"], a[href$=".JPG"], a[href$=".PNG"], a[href$=".tiff"], a[href$=".TIFF"], a[href$=".jpeg"], a[href$=".JPEG"], a.image.download {
        &:before {content: "\f1c5";}
    }
    a[href$=".mp4"], a[href$=".mov"], a[href$=".MP4"], a[href$=".MOV"], a.video {
        &:before {content: "\f1c8";}
    }
    a[href$=".csv"] {
        &:before {content: "\f6dd";}
    }
    .rss {
        &:before {content: "\f143";}
    }
}


//label, a { color: $primary;}


#BetterNavigator {
    @include media-breakpoint-down(md) {display: none;}
}


/* Document scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba($primary, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba($primary, 1);
}


/* Selected Text */
::selection {
  background: $primary;
  color: $white;
}
